/* .css-ascpo7-MuiStepLabel-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
}
.css-qivjh0-MuiStepLabel-label{
    padding-top: 6px;
} */

.css-hs54p1 {
    margin-left: 4rem;
    /* margin: auto; */
    margin-top: 2rem;
}
.css-1duy1hk {
    margin-left: 2rem;
    margin-top: 2rem;
}
.backNext-btn{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.css-1d1r5q-MuiFormHelperText-root {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: -8px !important;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 33px !important;
}
.second{
    margin-top: 0px !important;
    margin-left: 0px !important;
}
.push-notification{
    margin-top: 2.5rem;
}
/* .css-wjbjs2-MuiTypography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 700 !important;
    font-size: 3.75rem;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    text-align: left;
    
    height: 100vh;
} */
.css-1mxtuxc-MuiContainer-root {
    padding: 32px;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: inherit;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    /* margin: auto; */
    /* margin-left: auto; */
}
.css-1b1mhhm {
    margin-top: 2rem;
}
.success{
    font-weight: 700 !important;
}
.first-col{
    width: 50%;
}
td{
    padding: 20px;
}